.lista-vinhos{
    background-color: aqua;
}
.img1{
    width: 200px;
}
.btn{
    padding: 10px;
    display: flex;
}
.txt{
    margin-top: 1000px;
    background-color: blue;
}
.qtdVinho{
    padding: 20px;
}
.txtDesconto{
    padding: 10px;
    margin-left: 10px;
}
.desconto{
    display: flex;
}