.lista-vinhos{
    background-color: aqua;
}
.img1{
    width: 200px;
}
.btn1{
    padding: 10px;
    display: flex;
}
.txt{
    margin-top: 1000px;
    background-color: blue;
}
.qtdVinho{
    padding: 20px;
}