.conteiner {
    margin: auto;
    border: solid black 1px;
    width: 500px;
    height: 550px;
    box-shadow: rgb(104, 104, 104) 3px 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btns {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    justify-content: space-between;

}
.finalizar2 {
    margin-top: 20px;
}