body {
  background-color: rgb(225, 185, 137);
}

/*#region header */
.header {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 128px;
  background-color: black;
  padding: 24px 64px;
  z-index: 10;
}

@font-face {
  font-family: Felicity;
  src: url("FelicityBonham.otf");
}

.header-logo-img {
  color: aliceblue;
  font-size: 1.5em;
  font-family: Felicity, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*#region header-center */
.header-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header-center-search {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.header-center-search-bar {
  width: 100%;
  border: solid 2px black;
  color: white;
  background: transparent;
  transition: all 1s ease;
}

.header-center-links {
  display: flex;
  align-self: center;
  gap: 32px;
  text-wrap: nowrap;
  flex-direction: row;
}

.header-center-links a {
  color: white;
  opacity: 0.5;
  font-size: 12px;
  text-decoration: underline;
  transition: opacity 500ms;
}

.header-center-links a:hover {
  opacity: 1;
}

.header-center-search img {
  width: 2em;
  height: auto;
}
/*#endregion header-center */

.header-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.header-user span {
  color: white;
}
.header-user span:hover {
  text-decoration: underline;
}

.header-user-img {
  border: solid black 2px;
  border-radius: 50%;
  background-color: aliceblue;
  width: 48px;
  height: 48px;
  display: flex;
  background: url("https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg");
  background-size: contain;
  transition: transform 500ms;
}
.header-user-img:hover {
  transform: scale(1.2);
}
/*#endregion header */

/*#region center  */
main {
  padding: 64px 0;
}

#vines {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
  max-width: 1064px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: antiquewhite;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #232324;
}

#vines > .top {
  display: flex;
  justify-content: space-between;
}

#vines > ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#vines > ul > li {
  display: flex;
  gap: 24px;
}

#vines > ul > li .product-img {
  height: 200px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 8px;
  object-fit: contain;
}

#vines > ul > li section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#vines > ul > li section .top {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}

#vines > ul > li section .top p {
  font-size: 14px;
  opacity: 0.8;
}

#vines > ul > li .recommended-plates {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;

  padding: 10px;
  width: 640px;
  height: 40px;
  border-radius: 8px;
  transition: height 0.5s ease-in;
  overflow: hidden;
  cursor: default;
}

#vines > ul > li .recommended-plates:hover {
  height: 200px;
}

#vines > ul > li .recommended-plates span {
  transition: all 500ms;
}

#vines > ul > li .recommended-plates:hover span {
  transform: rotate(180deg);
}

#vines > ul > li .recommended-plates div {
  display: flex;
  align-items: center;
  gap: 8px;
}

#vines > ul > li .recommended-plates li {
  font-size: 14px;
}

/*#endregion  */
